{% extends "main/base.html" %}
{% load static %}
<title>{% block title %}Confirmação - Carlos Cervejas Especiais{% endblock %}</title>
{% block styles %}
    <link href="{% static 'css/styles_confirmacao.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block home %}
    <a class="nav-link inactive" href="{% url 'home' %}">Principal</a>
{% endblock %}
{% block pedidos %}
    <a class="nav-link active" href="{% url 'pedidos' %}" aria-current="page">Pedidos</a>
{% endblock %}
{% block content %}
    <div class="container row">
        <div class="d-flex justify-content-center">
            <h6>Confirme os dados do pedido:</h6>
        </div>
        <div class="row d-flex align-items-baseline">
            <p>Pedido: <strong>{{ pedido }}</strong></p>
            <hr class="divider">
        </div>
        <div class="col-xl-7">
            <ul class="list-unstyled">
                <li class="text-muted">
                    <span>Nome: </span>{{ nome }}
                </li>
                <li class="text-muted">
                    <span>E-mail: </span>{{ email }}
                </li>
                <li class="text-muted">
                    <span>Telefone: </span>{{ telefone }}
                </li>
            </ul>
        </div>
        <div class="col-xl-5">
            <ul class="list-unstyled">
                <li class="text-muted">
                    <span>Cidade, Estado: </span>{{ cidade }}, {{ estado }}
                </li>
                <li class="text-muted">
                    <span>Endereço: </span>{{ endereco }}
                </li>
                <li class="text-muted">
                    <span>Data e Hora do Pedido: </span>{{ data_hora }}
                </li>
            </ul>
        </div>
        <div class="row my-3 mx-1 justify-content-center">
            <table class="table table-striped table-borderless" aria-describedby="table">
                <thead class="text-white">
                <tr>
                    <th class="rounded-top-left" scope="col"></th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor Unit.</th>
                    <th scope="col">Qtde.</th>
                    <th class="rounded-top-right" scope="col">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <th class="align-middle" scope="row">
                            <div class="card-img-container images">
                                <img class="img-fluid rounded-start" src="{{ produto.imagem.url }}"
                                     alt="{{ produto.nome }}">
                            </div>
                        </th>
                        <td class="align-middle">{{ produto.nome }}</td>
                        <td class="align-middle">R$ {{ produto.valor }}</td>
                        <td class="align-middle">{{ produto.qtde }}</td>
                        <td class="align-middle">R$ {{ produto.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-xl-11">
                    <p class="text-black float-end">
                        <span class="text-black me-3">Valor Total do Pedido: </span>
                        <span>R$ {{ total_pedido }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="{% url 'envio' %}">
                {% csrf_token %}
                <input type="hidden" name="pedido" value="{{ pedido }}">
                <input type="hidden" name="nome" value="{{ nome }}">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="telefone" value="{{ telefone }}">
                <input type="hidden" name="endereco" value="{{ endereco }}">
                <input type="hidden" name="cidade" value="{{ cidade }}">
                <input type="hidden" name="estado" value="{{ estado }}">
                <input type="hidden" name="data_hora" value="{{ data_hora }}">
                <input type="hidden" name="total_pedido" value="{{ total_pedido }}">
                <button type="submit" class="btn btn-secondary btn-lg">Enviar</button>
            </form>
        </div>
        <div class="d-flex justify-content-start">
            <button onclick="voltar()" class="btn btn-secondary btn-md">Voltar</button>
        </div>
        <hr>
        <p>&copy; Carlos Cervejas Especiais 2023</p>
    </div>
    <script src="{% static 'js/scripts_confirmacao.js' %}"></script>
{% endblock %}