{% extends "main/base.html" %}
{% load static %}
<title>{% block title %}Pedidos - Carlos Cervejas Especiais{% endblock %}</title>
{% block styles %}
    <link href="{% static 'css/styles_pedidos.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block home %}
    <a class="nav-link inactive" href="{% url 'home' %}">Principal</a>
{% endblock %}
{% block pedidos %}
    <a class="nav-link active" href="{% url 'pedidos' %}" aria-current="page">Pedidos</a>
{% endblock %}
{% block content %}
    <div class="container row">
        <hr>
        <p>&copy; Carlos Cervejas Especiais 2023</p>
    </div>
{% endblock %}