:root {
    --border-thickness: 0.03em;
    --dark-gray: #6C757D;
    --pale-orange: #FFEBB5;
    --very-light-gray: #F6F6F6;
    --very-light-orange: #FFD6AD;
}

.container {
    background-color: var(--very-light-gray);
    border: var(--border-thickness) solid lightgray;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 40px;
}

.container.row {
    padding: 40px 40px 0 40px;
}

.images {
    border: var(--border-thickness) solid lightgray;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.inactive {
    opacity: 90%;
}

.logo {
    width: 238px;
}

.nav-item {
    padding: 0 54px;
}

.navbar-expand-lg {
    background-color: var(--pale-orange);
    border-color: lightgray;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: var(--border-thickness);
    margin: auto;
    max-width: 1000px;
}

.navbar-toggler {
    margin: auto 0 auto auto;
}

.text-button {
    color: white;
    text-decoration: none;
}

.whatsapp {
    bottom: 20px;
    position: fixed;
    right: 20px;
}

.whatsapp img {
    height: 90px;
    width: 90px;
}

body {
    background-image: linear-gradient(to right, var(--very-light-orange), white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    margin-top: 15px;
}

h6 {
    margin-top: 10px;
}

h6:nth-child(odd) {
    color: var(--dark-gray);
    font-size: 14px;
    margin-bottom: 40px;
}

p:first-child {
    font-size: 18px;
}

p:last-child {
    color: var(--dark-gray);
    font-size: 12px;
}

p:nth-last-child(2) {
    color: var(--dark-gray);
    font-size: 16px;
}