:root {
    --border-thickness: 0.03em;
    --dark-gray: #6C757D;
    --pale-orange: #FFEBB5;
    --very-light-gray: #F6F6F6;
    --very-light-orange: #FFD6AD;
}

.align-middle:nth-child(2) {
    width: 50%;
}

.align-middle:nth-child(3) {
    width: 20%;
}

.align-middle:nth-child(4) {
    width: 15%;
}

.align-middle:nth-child(5) {
    width: 15%;
}

.container {
    background-color: var(--very-light-gray);
    background-position: center;
    background-size: cover;
    border: var(--border-thickness) solid lightgray;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 40px;
}

.container.row {
    padding: 40px 40px 0 40px;
}

.divider {
    margin-bottom: 28px;
}

.images {
    width: 80px;
}

.inactive {
    opacity: 90%;
}

.logo {
    width: 238px;
}

.nav-item {
    padding: 0 54px;
}

.navbar-expand-lg {
    background-color: var(--pale-orange);
    border-color: lightgray;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: var(--border-thickness);
    margin: auto;
    max-width: 1000px;
}

.navbar-toggler {
    margin: auto 0 auto auto;
}

.rounded-top-left {
    border-top-left-radius: 5px;
}

.rounded-top-right {
    border-top-right-radius: 5px;
}

.whatsapp {
    bottom: 20px;
    position: fixed;
    right: 20px;
}

.whatsapp img {
    height: 90px;
    width: 90px;
}

body {
    background-image: linear-gradient(to right, var(--very-light-orange), white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    margin-bottom: 30px;
}

button:last-child {
    margin-bottom: 25px;
}

h6 {
    color: var(--dark-gray);
    font-size: 20px;
    text-align: center;
}

p:first-child {
    margin-top: 20px;
}

p:last-child {
    color: var(--dark-gray);
    font-size: 12px;
}

p span:first-child {
    font-size: 14px;
}

p span:last-child {
    font-size: 24px;
}

thead {
    background-color: var(--dark-gray);
}